@import '../../../style/global';

/* Make header buttons look like plain text and not full-width */
.area-header-button,
.area-header > button {
  display: flex;
  flex: 1 1 100%;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;

  align-items: center;
  justify-content: flex-start;
  text-align: left;
  background: transparent !important;
}

.area-header span {
  margin-left: auto;
}
