@import '../../../../webapp/style/vars';

.segment {
  background-color: #1b263b;
  border-radius: $radius;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.548);
  padding: 1rem 1rem;
  margin: 1 auto $gap auto;
  text-align: center;
  overflow: hidden;
}

.title {
  text-align: center;
  border-bottom: 2px solid rgba(39, 41, 68, 0.352);
}

.description {
  margin-top: 8px;
  color: var(--muted);
}

.content {
  text-align: left;
  overflow-wrap: anywhere;
  white-space: normal;
  overflow: auto;
}

.button {
  margin-top: 12px;
  padding: 8px 16px;
  background-color: #3c5fff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
